@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";






@layer utilities {
  .font-inter {
    font-family: "Inter", system-ui, sans-serif;
  }
}
@layer utilities {
  .font-geist {
    font-family: Geist, system-ui, sans-serif;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradientMove 6s ease infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes typing {
  0%   { width: 0 }
  40%  { width: 100% }  /* typing done */
  60%  { width: 100% }  /* pause at full text */
  100% { width: 0 }     /* delete */
}

@keyframes blink {
  0%, 100% { border-color: transparent }
  50%      { border-color: #7c3aed }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #7c3aed;
  display: inline-block;
  animation: typing 5s steps(30, end) infinite,
             blink 1s step-end infinite;
}

